/* app css stylesheet */
li{
	list-style: none;
	margin-left: 45px;
	margin-top: 10%;
}

.over {
  border: 2px dashed #000;
}

.shaped{
	height: 100px;
	width: 100px;
	cursor: move
}

#shape-menu{
	border: 8px solid black;
	height: 200px;
	width: 500px;
	display: inline-flex;
}

#circle{
	background: url(common/imgs/circle.png) left top no-repeat;
}

#square{
	background: url(common/imgs/square.png) left top no-repeat;	
}

#triangle{
	background: url(common/imgs/triangle.png) left top no-repeat;
}	

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}