/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#shape-menu{
	border: 8px solid black;
	height: 200px;
	width: 500px;
}

#docking-station{
	border: 8px solid green;
	height: 200px;
	width: 500px;
}

#circle{
	background: url(common/imgs/circle.png) left top no-repeat;
}

#square{
	background: url(common/imgs/square.png) left top no-repeat;	
}

#triangle{
	background: url(common/imgs/triangle.png) left top no-repeat;
}	