/* app css stylesheet */
li{
	list-style: none;
}

#shape-menu{
	border: 8px solid black;
	height: 200px;
	width: 500px;
	display: inline-flex;
}

#docking-station{
	border: 8px solid green;
	height: 200px;
	width: 500px;
}

.shaped{
	height: 100px;
	width: 195px;
}

#circle{
	background: url(common/imgs/circle.png) left top no-repeat;
}

#square{
	background: url(common/imgs/square.png) left top no-repeat;	
}

#triangle{
	background: url(common/imgs/triangle.png) left top no-repeat;
}	